.upload-zone {
  border: 2px dashed #aaa;
  padding: 1.5rem 2rem;
  margin-top: 1rem;
}

.upload-button {
  margin-left: 2rem;
}

.file-item--size {
  margin: 0 1rem;
  font-size: 0.8em;
  color: #666;
}

.file-detail--group {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.file-detail--group p:first-of-type {
  margin: 0;
  margin-right: auto;
}
